.container {
  width: 210px;
  margin: 10px;
  padding: 10px;
}

.blur {
  background: rgba(255, 255, 255, 0.8); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  /* border-right: 1px solid whitesmoke; */
}

body {
  border-style: outset;
  border-radius: 5px;
  /* background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* .heading2 {
font: 25px/1.5 Helvetica, Verdana, sans-serif;
margin: 0;
padding: 0;
display: inline;
}

.button {
display: inline
} */



h2 {
  font: 25px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


h3 {
  font: 15px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 210 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.1s ease, background-color 0.1s ease;
  display: block;
  width: 210px;
}

li a:hover{
  font-size: 25px;
  background: #e6e6e6;
}
