.container {
  margin: 1px;
  width: 250px;
  padding: 10px;
  border-style: solid;
  border-color: #343a40;
  border-width: 1px;
}

.display-4 {
  font-size: 1.4rem;
  font-weight: inherit;
  display:inline-block;
  text-align: center;
  position: relative;
  left: 25%;
  right: 25%
}

.btn-group-sm {
  display:inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

li {
  font: 20px/1.5 Helvetica, Verdana, sans-serif;
  font-family: inherit;
  font-weight: inherit;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #343a40;
  -webkit-transition: font-size 0.1s ease, background-color 0.1s ease;
  -moz-transition: font-size 0.1s ease, background-color 0.1s ease;
  -o-transition: font-size 0.1s ease, background-color 0.1s ease;
  -ms-transition: font-size 0.1s ease, background-color 0.1s ease;
  transition: font-size 0.1s ease, background-color 0.1s ease;
  display: block;
  width: inherit;
}

a:link {
  text-decoration: none;
}

li a:hover{
  font-size: 25px;
  color: #343a40;
  background: #e6e6e6;
}
